@mixin input {
  height: 40px;
  width: 100%;
  padding: 12px 16px;
  border: 1px var(--dark-gray) solid;
  border-radius: 4px;
  background-color: var(--body-bg);
}
@mixin border {
  border: var(--dark-gray) 1px solid;
}
@mixin step-btn {
  height: 46px;
  width: 156px;
  border-radius: 8px;
  font-size: 0.875rem;
}

html {
  min-width: 350px;
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  color: var(--main-font);
}
body {
  background: var(--body-bg);
}
#main-app {
  position: relative;
  min-width: 350px;
}

