.cart-list {
  margin: 0 0 16px;
  padding: 32px 0 0;
  .item {
    display: flex;
    margin: 0 0 32px;
    img {
      width: 100px;
    }
    .item-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5rem;
      margin-left: 20px;
      .item-wrapper{
        width: 150px;
      }
      span {
        line-height: 1.375rem;
        font-weight: bold;
      }
      .button-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 18px 0;
        > button {
          width: 26px;
          height: 26px;
          background-color: var(--light-gray);
          border-radius: 50%;
        }
        > p {
          width: 50px;
          margin: 0 5px;
          font-size: 0.875rem;
          text-align: center;
        }
      }
    }
  }
}