.part {
  height: 330px;
  width: 100%;
  .form-title {
    margin: 24px 0;
    font-weight: bold;
    color: var(--main-font);
  }
  .form-container {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--light-gray);
    &:last-child {
      margin-bottom: 32px;
    }
    .form-row {
      margin-bottom: 48px;
      > label {
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--label-gray);
        margin-bottom: 8px;
      }
    }
  }
}
