.step-btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .next,
  .forward {
    @include step-btn;
    display: flex;
    align-items: center;
    p {
      font-size: 0.875rem;
      margin: 0 13px;
    }
    img {
      width: 20px;
    }
  }
  .next {
    color: var(--white);
    background-color: var(--next-btn);
    justify-content: center;
  }
  .forward {
    justify-content: start;
    color: var(--main-font);
    div {
      width: 24px;
      height: 24px;
      display: inline-block;
      background-image: var(--left-arrow);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
