@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::before {
      content: "#{($i + 1) / 2}";
      line-height: 1.5rem;
    }
  }
}
.stepper-container {
  height: 24px;
  white-space: nowrap;
  .step {
    display: flex;
    align-items: center;
    margin: 0 32px;
    @include getStepNums(5);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .circle-container {
      height: 24px;
      width: 24px;
      margin-right: 8px;
      background-color: transparent;
      border: 1px solid var(--disable-gray);
      border-radius: 50%;
      color: var(--disable-gray);
      text-align: center;
      + p {
        margin-left: 9px;
        line-height: 2rem;
        color: var(--disable-gray);
      }
    }
  }
  .connect-line {
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--disable-gray);
  }
}
